<% include partials/header %>
    <h1><%= title %></h1>
    <p>A soma é: <%= soma %></p>
    <% if(soma % 2 === 0){ %>
        <p>A soma é par.</p>
    <% } else { %>
        <p>A soma é impar.</p>
    <% } %>
<% include partials/footer %>